<!DOCTYPE html>
<html lang="en">
<head>
	<title>Collector</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="images/favicon.png" />
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7CLibre+Baskerville:400,400italic,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css"  href='static/css/clear.css' />
	<link rel="stylesheet" type="text/css"  href='static/css/common.css' />
	<link rel="stylesheet" type="text/css"  href='static/css/font-awesome.min.css' />
	<link rel="stylesheet" type="text/css"  href='static/css/carouFredSel.css' />
	<link rel="stylesheet" type="text/css"  href='static/css/sm-clean.css' />
	<link rel="stylesheet" type="text/css"  href='static/css/style.css' />
	<link rel="stylesheet" type="text/css"  href='static/css/main.css' />
	<link rel="stylesheet" type="text/css"  href='static/css/util.css' />
	 	
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action="/success" method="post">
				<span class="contact100-form-title">
					<h2 class="entry-title">
					Data Collector
					</h2>
				</span>
				
				<label class="label-input100" for="height">Height (cm)</label>
				<div class="wrap-input100">
					<input id="height" class="input100" type="text" name="height" placeholder="Eg. 175">
					<span class="focus-input100"></span>
				</div>		
				
				<label class="label-input100" for="weight">Weight (kg)</label>
				<div class="wrap-input100">
					<input id="weight" class="input100" type="text" name="weight" placeholder="Eg. 70">
					<span class="focus-input100"></span>
				</div>		
				
				<label class="label-input100" for="shoesize">Shoe size</label>
				<div class="wrap-input100">
					<input id="shoesize" class="input100" type="text" name="shoesize" placeholder="Eg. 42">
					<span class="focus-input100"></span>
				</div>		
				
				<label class="label-input100" for="sex">Sex (M/F)</label>
				<div class="wrap-input100">
					<input id="sex" class="input100" type="text" name="sex" placeholder="">
					<span class="focus-input100"></span>
				</div>		
				
<!-- 				<label class="label-input100" for="first-name">Tell us your name *</label>
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
					<input id="first-name" class="input100" type="text" name="first-name" placeholder="First name">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
					<input class="input100" type="text" name="last-name" placeholder="Last name">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="email">Enter your email *</label>
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<input id="email" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="phone">Enter phone number</label>
				<div class="wrap-input100">
					<input id="phone" class="input100" type="text" name="phone" placeholder="Eg. +1 800 000000">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="message">Message *</label>
				<div class="wrap-input100 validate-input" data-validate = "Message is required">
					<textarea id="message" class="input100" name="message" placeholder="Write us a message"></textarea>
					<span class="focus-input100"></span>
				</div>
 -->
				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						Submit Data
					</button>
				</div>
			</form>
		</div>
	</div>

	</body>
</html>
